/* (edit style.css for your own book styles) */

.join {
  height: 150px;
  width: 200px;
  float: right;
  clear: right;
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

.package { font-weight: 600; }
.package::before { content: "{"; }
.package::after { content: "}"; }



